


header{
    background:#bedded ;
    width: 100%;
    height: auto;
    margin: auto;
}
.lgo{
    display: flex;
    margin: 0 auto;
}

nav{
    background-color: #bedded;
    float:inline-end;
    height: auto;
    margin: auto;
}
li :hover{
    background-color: rgb(50, 155, 247);
    
}
.sect1{
    background-color: #bedded;
    width: 100%;
    margin: 0 auto;
}
.s1img{
    background-color: rgb(95, 171, 237);
    margin: 0 auto;
    width: 150px;
    border-radius: 20px;
   
}
.btn{
    color: white;
    width: auto;
    height: auto;
    margin-bottom: 5px;

}
.sect2{
    background-color:white;
    width: 100%;
    margin: 0 auto;
}

.sect3{
    background: #bedded;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.img1{
    width: 90px;
    margin: auto;
}




.sect4{
    
    background:white;
    width: 100%;
    margin: 0 auto;
    padding-top: 2%;
}
.sect5{
    
    background: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
}
.nano{
    margin: 0 auto;
    width: 50%;
}


.sect6{
    width: 100%;
    margin: 0 auto;
    background-color: #bedded;

}
.icone{
    display: flex;
    margin: 0 auto;

}

h2{
    color: navy;
    margin-left: 5px;
}

.p1{
    color: rgb(67, 153, 251);
    width: 60%;
    margin: 0 auto;
}

h4{
    color:navy ;
    margin-left: 5px;

}
h5{
    color:navy ;
    margin-left: 5px;

}